.input-container {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    border: solid 3px;
    width: 90%;
    height: 50px;
}

input {
    font-size: 25px;
    display: block;
    height: 100%;
    width: 90%;
    padding-left: 15px;
}